/* Temporary styling */
/* *************************************************************** */
/* *************************************************************** */

/* Feedback Board PAGE */
.feedbackBoard_layout {
  display: flex;
  gap: 30px;
  padding: 0 30px;
}
.feedbackBoard_aside {
}

.feedbackBoard_main {
  padding: 0 20px;
}

.feecbackBoard_leftSection {
  background-color: beige;
  padding: 0 20px;
}
/* *************************************************************** */
/* ActionBar component */
.actionBar {
  display: flex;
  padding: 20px;
  gap: 100px;
  background-color: rgb(81, 154, 231);
}

.actionBar button {
  margin-left: auto;
}
/* *************************************************************** */
/* FeedbackTile component */
.feedback_list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
/* *************************************************************** */
/* FeedbackTile component */
.feedback_tile {
  background-color: rgb(214, 231, 231);
  padding: 12px;
}

/* *************************************************************** */
/* *************************************************************** */
/* *************************************************************** */
/* Roadmap PAGE */
.roadmap_header {
}
.roadmap_devStatusPhases {
  display: flex;
  gap: 10px;
}
.roadmap_devStatusPhase {
  background-color: rgb(209, 210, 172);
  padding: 0 16px;
}
