/* Temporary styling */
/* *************************************************************** */
/* *************************************************************** */

body {
  background-color: rgb(195, 187, 187);
}
ul {
  list-style-type: none;
}
/* Homepage PAGE */
.loginError {
  color: rgb(117, 9, 9);
  font-size: 20px;
  font-weight: bold;
}
/* Feedback Board PAGE */
.feedbackBoard_layout {
  display: flex;
  gap: 30px;
  padding: 0 30px;
}
.feedbackBoard_aside {
}

.feedbackBoard_main {
  padding: 0 20px;
}

.feecbackBoard_leftSection {
  background-color: beige;
  padding: 0 20px;
}
/* *************************************************************** */
/* ActionBar component */
.actionBar {
  display: flex;
  padding: 20px;
  gap: 100px;
  background-color: rgb(81, 154, 231);
}

/* *************************************************************** */
/* FeedbackList component */
.feedback_list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.feedback_list ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.feedback_list ul li {
  position: relative;
}

.feedback_list ul li button {
  position: absolute;
  top: 4px;
  left: 10px;
}
/* *************************************************************** */
/* FeedbackCard component */
.feedback_card {
  background-color: rgb(214, 231, 231);
  padding: 12px;
}

/* *************************************************************** */
/* UpVote component */
.upvoted {
  background-color: rgb(197, 233, 197);
}

/* *************************************************************** */
/* *************************************************************** */
/* *************************************************************** */
/* Roadmap PAGE */
.roadmap_header {
}
.roadmap_devStatusPhases {
  display: flex;

  gap: 10px;
}
.roadmap_devStatusPhase {
  background-color: rgb(209, 210, 172);
  padding: 0 16px;
}

/* *************************************************************** */
/* *************************************************************** */
/* *************************************************************** */
/* Create New Feedback Page */
.formModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgb(227, 207, 219);
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.fullSize {
  height: 90%;
  width: 90%;
}

.globalModal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: aquamarine;
  z-index: 9999;
  padding: 30px;
}

.createFeedback {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input,
select,
label,
textarea {
  display: block;
}

.editFeedback {
  padding: 20px;
  background-color: rgb(130, 185, 134);
}

.editButton {
  display: flex;
  margin-left: auto;
}

.hidden {
  display: none;
}

/* loader */
.loader {
  border: 10px solid #f3f3f3;
  border-top: 10px solid #3498db;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Comment */
.comment__authorInfo {
  line-height: 0.3;
  margin-bottom: 16px;
}

.comments li {
  border-bottom: 1px solid grey;
}

.comments ul li {
  border-bottom: none;
}

.comments li:last-child {
  border-bottom: none;
}

.comment {
  position: relative;
  margin: 30px 0 30px 0;
}

.addReply {
  position: absolute;
  margin-left: auto;
  top: 0;
  right: 0;
}

.error {
  color: rgb(199, 48, 48);

  font-size: 1.125rem;
}
